<div class="row">

    <div class="col-md-9 mt-4 mb-4">
        <h1 class="mt-4 bt-4">Danh sách đơn vị</h1>
        <table class="table table-hover mt-4">
            <thead>
                <tr>
                    <th scope="col">Số thứ tự</th>
                    <th scope="col">Tên địa phương</th>
                    <th scope="col">Cấp phát</th>
                </tr>
            </thead>
            <tbody id='tbody'>
                {{#each listName}}
                <tr>
                    <th scope="row">{{sum @index 1}}</th>
                    <td>{{this}}</td>
                    <td><button type="button" class="btn btn-outline-primary btn-sm" data-toggle="modal"
                            data-target="{{sum '#' @index}}">Thêm</button></td>
                </tr>
                {{else}}
                <tr>
                    <p class="mt-4 bt-4">Hiện chưa có dữ liệu, mời nhập thông tin thủ công</p>
                    <button type="button" class="btn btn-outline-primary btn-sm" data-toggle="modal"
                        data-target="#-1">Thêm đơn vị</button>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    <div class="col-md-3">
    {{> myUnit}}
    </div>
</div>
<!-- Scrollable modal -->

{{#each listName}}
<div class="modal" tabindex="-1" role="dialog" id="{{@index}}" aria-hidden="false">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <form name="add-unit-form" class="mt-4 mb-4" method="POST">
                <div class="modal-header">
                    <h5 class="modal-title">Thêm tài khoản cho đơn vị</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body mt-4 mb-4">
                    <label for="">Tên đăng nhập là mã địa phương</label>
                    <input type="text" class="form-control" id="{{sum 'nameUnit' @index}}" name='nameUnit'
                        value="{{this}}">
                    <div class="form-floating mb-4 mt-4">
                        <input type="password" class="form-control mt-4 mb-4" id="{{sum 'password' @index}}"
                            name='password' placeholder="Mật khẩu" required="true">
                        <label for="password">Mật khẩu</label>
                    </div>
                    <label for="timeStart">Thời gian bắt đầu</label>
                    <input type="date" class="form-control mb-4" id="{{sum 'timeStart' @index}}" name="timeStart">
                    <label for="timeEnd">Thời gian kết thúc</label>
                    <input type="date" class="form-control mb-4" id="{{sum 'timeEnd' @index}}" name="timeEnd">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="inputGroupSelect01">Trạng thái</label>
                        </div>
                        <select class="form-control custom-select" id="{{sum 'progress' @index}}" name="progress">
                            <option>Đang khai báo</option>
                            <option>Chưa khai báo</option>
                            <option>Đã khai báo</option>
                        </select>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="inputGroupSelect01">Quyền</label>
                        </div>
                        <select class="form-control custom-select" id="{{sum 'active' @index}}" name="active">
                            <option>Có</option>
                            <option>Không</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="{{sum 'btn-add-unit' @index}}" type="button" class="btn btn-primary"
                        onclick="addUnit({{@index}})" data-dismiss="modal">Thêm
                        tài khoản</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Thoát</button>
                </div>
            </form>

        </div>
    </div>
</div>
{{else}}

<div class="modal" tabindex="-1" role="dialog" id="-1" aria-hidden="false">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <form name="add-unit-form" class="mt-4 mb-4" method="POST">
                <div class="modal-header">
                    <h5 class="modal-title">Thêm tài khoản cho đơn vị</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body mt-4 mb-4">
                    <label for="">Tên đăng nhập là mã địa phương</label>
                    <input type="text" class="form-control" id="{{sum 'nameUnit' '-1'}}" name='nameUnit'>
                    <div class="form-floating mb-4 mt-4">
                        <input type="password" class="form-control mt-4 mb-4" id="{{sum 'password' '-1'}}"
                            name='password' placeholder="Mật khẩu" required="true">
                        <label for="password">Mật khẩu</label>
                    </div>
                    <label for="timeStart">Thời gian bắt đầu</label>
                    <input type="date" class="form-control mb-4" id="{{sum 'timeStart' '-1'}}" name="timeStart"
                        required="true">
                    <label for="timeEnd">Thời gian kết thúc</label>
                    <input type="date" class="form-control mb-4" id="{{sum 'timeEnd' '-1'}}" name="timeEnd"
                        required="true">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="inputGroupSelect01">Trạng thái</label>
                        </div>
                        <select class="form-control custom-select" id="{{sum 'progress' '-1'}}" name="progress">
                            <option>Đang khai báo</option>
                            <option>Chưa khai báo</option>
                            <option>Đã khai báo</option>
                        </select>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="inputGroupSelect01">Quyền</label>
                        </div>
                        <select class="form-control custom-select" id="{{sum 'active' -1}}" name="active">
                            <option>Có</option>
                            <option>Không</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="{{sum 'btn-add-unit' '-1'}}" type="button" class="btn btn-primary" onclick="addUnit(-1)"
                        data-dismiss="modal">Thêm
                        tài khoản</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Thoát</button>
                </div>
            </form>

        </div>
    </div>
</div>

{{/each}}


<script>
    function addUnit(a) {
        var code = localStorage.getItem('code');
        var nameUnit = document.getElementById('nameUnit' + a).value
        var password = document.getElementById('password' + a).value;
        var timeStart = document.getElementById('timeStart' + a).value;
        var timeEnd = document.getElementById('timeEnd' + a).value;
        var progress = document.getElementById('progress' + a).value;
        var active = document.getElementById('active' + a).value;
        var url_post = '/allocate?idParent=' + code;

        fetch(url_post, {
            method: 'POST',
            headers: { 'Content-Type': 'application/json', },
            body: JSON.stringify({
                nameUnit: nameUnit,
                password: password,
                timeStart: timeStart,
                timeEnd: timeEnd,
                progress: progress,
                active: active,
            })
        })
            .then((res) => res.json())
            .then((data) => {
                alert(data.status);
            })
            .catch((error) => {
                alert(error);
            });
    }

   /* getData();

    async function getData() {
        var code = localStorage.getItem('code');
        var path = '/declare/progress?code=' + code;
        let myObject = await fetch(path);
        let data = await myObject.json();
        var rate = 0;
        if (data.declared + data.declaring != 0)
            rate = data.declared * 100 / (data.declared + data.declaring);
        $('.toast-header').append("<p>Mã địa phương " + data.unit.code + '</p>');
        $('.toast-body').append('<p class="h5" style="color: #400485">' + data.unit.nameUnit + '</p>');
        $('.toast-body').append('<p>Hạn cuối: ' + data.date + '</p>')
        $('.toast-body').append('<p>Tiến độ: ' + rate + '%</p>');
        $('.toast-body').append('<p>Trạng thái: ' + data.unit.progress + '</p>');
    }*/

</script>