<div class="row">
  <div class="col-md-9 shadow">
    <div class="end" id="trash">
      <h5>Người dân đã xóa</h5>
      <a href="/citizens/trash/" class="btn btn-outline-info">
        Thùng rác <span class="badge bg-info">{{deletedCount}}</span>
      </a>
    </div>
    <h4 class="mt-4 mb-4 text-center">Danh sách người dân</h4>
    <div id="selectArea"><!--Chọn khu vực danh sách hiển thị-->
      <div class="form-floating m-4" id="provinceDiv">
        <select class="form-control" name="province" id="province">
          
        </select>
        <label for="province">Tỉnh</label>
      </div>
      <div class="form-floating m-4" id="districtDiv">
        <select class="form-control" name="district" id="district">
          
        </select>
        <label for="district">Quận/Huyện</label>
      </div>
      <div class="form-floating m-4" id="townDiv">
        <select class="form-control" name="town" id="town">
          
        </select>
        <label for="town">Xã/Thị Trấn</label>
      </div>
      <div class="form-floating m-4" id="villageDiv">
        <select class="form-control" name="village" id="village">
          
        </select>
        <label for="village">Thôn/Bản/Tổ</label>
      </div>
    </div> 
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Số CCCD {{{sortable 'CCCD' _sort}}}</th>
          <th>Họ và tên{{{sortable 'name' _sort}}}</th>
          <th>Ngày sinh {{{sortable 'dob' _sort}}}</th>
          <th>Giới tính {{{sortable 'sex' _sort}}}</th>
          <th>Nơi thường trú {{{sortable 'perResidence' _sort}}}</th>
          <th>Edit</th>
        </tr>
      </thead>
      <tbody>
        <tr><!--Tìm kiếm người dựa trên một hoặc nhiều thuộc tính -->
          <form name="search-form">
            <td>
              <input type="text" class="form-control" name="CCCD" placeholder="035301002587" />
            </td>
            <td>
              <input type="text" class="form-control" name="name" placeholder="Nguyễn Văn A" />
            </td>
            <td>
              <input type="text" class="form-control" name="dob" placeholder="23-06-2001" />
            </td>
            <td>
              <input type="text" class="form-control" name="sex" placeholder="Nam" />
            </td>
            <td>
              <input type="text" class="form-control" name="perResidence" placeholder="Việt Nam, Trái Đất" />
            </td>
            <td><button id="btn-search" type="submit" class="btn btn-outline-primary"><i class="fas fa-search"></i></button>
            </td>
          </form>
        </tr>
        {{#each citizens}}
        <tr><!--Thông tin từng người-->
          <td>{{this.CCCD}}</td>
          <td>{{this.name}}</td>
          <td>{{this.date}}</td>
          <td>{{this.sex}}</td>
          <td>{{this.perResidence}}</td>
          <td>
            <div class="list-group list-group-horizontal">
              <a href="citizens/{{this._id}}" data-id="{{this._id}}"
                data-bs-toggle="modal" data-bs-target="#myModal" data-bs-toggle="tooltip" data-bs-placement="top"
                title="Xem chi tiết"><i class="far fa-eye text-primary" style="padding: 5px;"></i></a>
              <a href="" class="deleteCitizen" data-toggle="modal" data-id="{{this._id}}"
                data-target="#delete-citizen-modal" data-bs-toggle="tooltip" data-bs-placement="top" title="Xóa"><i
                  class="fas fa-trash text-danger" style="padding: 5px;"></i></a>
              <a href="/citizens/{{this._id}}/edit" class="fixCitizen" data-bs-toggle="tooltip"
                data-bs-placement="top" title="Sửa"><i class="far fa-edit text-success" style="padding: 5px;"></i></a>
            </div>
          </td>
        </tr>
        {{else}}
          <tr>Hiện chưa có người dân nào</tr>
        {{/each}}
      </tbody>
    </table>
  </div>
  <div class="col-md-3">
    {{> myUnit}}
  </div>
</div>


<!-- The Modal View Details Person -->
<div class="modal fade" id="myModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title"></h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">

      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>


{{!-- confirm --}}
<div id="delete-citizen-modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Xóa người dân?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Bạn chắc chắn muốn xóa người dân này?
      </div>
      <div class="modal-footer">
        <button id="btn-delete-citizen" type="button" class="btn btn-danger">Xóa bỏ</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
      </div>
    </div>
  </div>
</div>

{{!-- Delete hidden form --}}
<form name="delete-citizen-form" method="POST"></form>

<style>
  #selectArea {
    display: flex;
    flex-wrap: wrap;
  }
  #selectArea div{
    width: 150px;
    display: none;
  }
</style>

<script>
   
  getDataToSelectArea();
  async function getDataToSelectArea() {
    console.log('lala');
    var code = localStorage.getItem('code');
    var resultFetch = await fetch('/declare/progress?code=' + code);
    var data = await resultFetch.json();
    console.log(data);
    switch(code.length) {
      case 6: {
        document.getElementById("villageDiv").style.display = "block";
        $('#village').append('<option selected>Tất cả</option>');
        //thêm các thôn vào #village
        $("#village").append('<option>khac</option>');
      } break;
      case 4: {
        document.getElementById("townDiv").style.display = "block";
        $('#town').append('<option selected>Tất cả</option>');
        //thêm các xã vào #town
        $("#town").append('<option>khac</option>');
      } break;
      case 2: {
        document.getElementById("districtDiv").style.display = "block";
        $('#district').append('<option selected>Tất cả</option>');
        //thêm các huyện vào #district
        $("#district").append('<option>khac</option>');
      } break;
      default: {
        document.getElementById("provinceDiv").style.display = "block";
        $('#province').append('<option selected>Tất cả</option>');
        //thêm các tỉnh vào #province
        $("#province").append('<option>khac</option>');
      }
    }
    $('#province').on('change', function (e) {
      if(this.value !== 'Tất cả') {
        document.getElementById("districtDiv").style.display = "block";       
        $("#district").append('<option selected>Tất cả</option>');
        //thêm các huyện của tỉnh this.value
        $("#district").append('<option>khac</option>');

      }
      else {
        document.getElementById("districtDiv").style.display = "none";
        document.getElementById("townDiv").style.display = "none";
        document.getElementById("villageDiv").style.display = "none";
        $("#district").children().remove();
        $("#town").children().remove();
        $("#village").children().remove();
      }
    });

    $('#district').on('change', function (e) {
      if(this.value !== 'Tất cả') {
        document.getElementById("townDiv").style.display = "block";       
        $("#town").append('<option selected>Tất cả</option>');
        //thêm các huyện của tỉnh this.value
        $("#town").append('<option>khac</option>');
      }
      else {
        document.getElementById("townDiv").style.display = "none";
        document.getElementById("villageDiv").style.display = "none";
        $("#town").children().remove();
        $("#village").children().remove();
      }
    });

    $('#town').on('change', function (e) {
      if(this.value !== 'Tất cả') {
        document.getElementById("villageDiv").style.display = "block";       
        $("#village").append('<option selected>Tất cả</option>');
        //thêm các huyện của tỉnh this.value
        $("#village").append('<option>khac</option>');
      }
      else {
        document.getElementById("villageDiv").style.display = "none";
        $("#village").children().remove();
      }
    });
  }

  document.addEventListener('DOMContentLoaded', function () {
    var _id;
    var deleteForm = document.forms['delete-citizen-form'];
    var btnDeleteCitizen = document.getElementById('btn-delete-citizen');
    var searchForm = document.forms['search-form'];
    var btnSearch = document.getElementById('btn-search');
    var code = localStorage.getItem('code');

    if (code.length < 6) {
      $("#trash").hide();
      $(".deleteCitizen").hide();
      $(".fixCitizen").hide();
    }

    btnSearch.onclick = function () {
        searchForm.action = '/search/unit/' + code;
        searchForm.submit();
    }
    // when dialog confirm clicked
    $('#delete-citizen-modal').on('show.bs.modal', function (event) {
      $('.modal-title').children().remove();
      $('.modal-body').children().remove();
      var button = $(event.relatedTarget);
      _id = button.data('id');
    });

    //when delete citizen btn clicked
    btnDeleteCitizen.onclick = function () {
      deleteForm.action = '/citizens/' + _id + '?_method=DELETE';
      deleteForm.submit();
    };


    $('#myModal').on('show.bs.modal', async function (event) {
      var button = $(event.relatedTarget);
      _id = button.data('id');
      let myObject = await fetch('/search/' +  _id);
      let myText = await myObject.json();
    

      $('.modal-title').children().remove();
      $('.modal-body').children().remove();
      $('.modal-title').append('<p class="h4">Thông tin người dân chi tiết</p>');
      if (myText.CCCD != null) $('.modal-body').append('<p class="h6">CCCD: ' + myText.CCCD + '</p>');
      $('.modal-body').append('<p>Họ tên: ' + myText.name + '</p>');
      if (myText.phone != null)  $('.modal-body').append('<p>SĐT: ' + myText.phone + '</p>');
      if (myText.dob != null) $('.modal-body').append('<p>Ngày sinh: ' + myText.dob.slice(0,10) + '</p>');
      if (myText.sex != null) $('.modal-body').append('<p>Giới tính: ' + myText.sex + '</p>');
      if (myText.hometown != null) $('.modal-body').append('<p>Quê quán: ' + myText.hometown + '</p>');
      if (myText.perResidence != null) $('.modal-body').append('<p>Nơi thường trú: ' + myText.perResidence + '</p>');
      if (myText.curResidence != null) $('.modal-body').append('<p>Nơi tạm trú: ' + myText.curResidence + '</p>');
      if (myText.ethnic != null) $('.modal-body').append('<p>Dân tộc: ' + myText.ethnic + '</p>');
      if (myText.religion != null) $('.modal-body').append('<p>Tôn giáo: ' + myText.religion + '</p>');
      if (myText.eduLevel != null) $('.modal-body').append('<p>Trình độ văn hóa: ' + myText.eduLevel + '</p>');
      if (myText.job != null) $('.modal-body').append('<p>Nghề nghiệp: ' + myText.job + '</p>');	
    });        

  });
</script>