<div class='mt-4 mb-4'>
        <h1>Thông tin chi tiết</h1>
        <div class="mt-4">Họ và tên: {{firstName}} {{lastName}}</div>
        <div class="mt-4">Ngày sinh: {{dob}}</div>
        <div class="mt-4">Giới tính: {{sex}}</div>
        <div class="mt-4">Số CCCD/CMND: {{CCCD}}</div>
        <div class="mt-4">Số điện thoại: {{phone}}</div>
        <div class="mt-4">Quê quán: {{hometown}}</div>
        <div class="mt-4">Địa chỉ thường trú: {{perResidence}}</div>
        <div class="mt-4">Địa chỉ tạm trú: {{curResidence}}</div>
        <div class="mt-4">Tôn giáo: {{religion}}</div>
        <div class="mt-4">Trình độ văn hóa: {{eduLevel}}</div>
        <div class="mt-4">Nghề nghiệp: {{job}}</div>
</div>
