<div class='mt-4 mb-4 page'>
        <h1 class='mt-4 mb-4'>Thông tin chi tiết</h1>
        <div class='mt-4 mb-4 form'>
        	<div class="mt-4">Họ và tên: {{citizen.name}}</div>
        	<div class="mt-4">Ngày sinh: {{citizen.date}}</div>
        	<div class="mt-4">Giới tính: {{citizen.sex}}</div>
        	<div class="mt-4">Số CCCD/CMND: {{CCCD}}</div>
        	<div class="mt-4">Số điện thoại: {{citizen.phone}}</div>
        	<div class="mt-4">Địa chỉ thường trú: {{citizen.perResidence}}</div>
        	<div class="mt-4">Địa chỉ tạm trú: {{citizen.curResidence}}</div>
        	<div class="mt-4">Dân tộc: {{citizen.ethnic}}</div>
        	<div class="mt-4">Tôn giáo: {{citizen.religion}}</div>
        	<div class="mt-4">Trình độ văn hóa: {{citizen.eduLevel}}</div>
        	<div class="mt-4">Nghề nghiệp: {{citizen.job}}</div>
        </div>
</div>

<style>
        h1 {
                text-align: center;
        }

        .form {
                margin: auto;
                width: 600px;
                text-align: left;
                font-size: 20px;
        }
</style>
